body {
    background-color: #e6ecf0;
}
.navbar {
    background-color: #1e3949;
}
.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}
.main-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.post-container, .blog-posts-container {
    width: 100%;
    max-width: 600px;
}
.blog-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
textarea {
    resize: none;
}
.btn {
    background-color: #1e3949;
    border: none;
}
.btn-primary:hover {
    background-color: #16333f;
}

.blog-posts-container-item {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.name-container-item {
    display: flex;
    gap: 5px;
}

.post-comments-button {
    background-color: #1e3949;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#caccount {
    background-color: transparent;
}