body {
    background-color: #e6ecf0;
}

.navbar {
    background-color: #1e3949;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.post-container, .blog-posts-container {
    width: 100%;
    max-width: 600px;
}

.blog-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

.btn-primary{
    background-color: #1e3949;
    border: none;
    outline: none;
}

.btn-primary:hover,  .btn-primary:active {
    background-color: #16333f !important;
}

.blog-posts-container-item {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    white-space: wrap;
    word-wrap: break-word;
}

.name-container-item {
    display: flex;
    gap: 5px;
}

.reaction-button {
    background-color: transparent;
    color: #1e3949;
    transition: text-shadow 0.3s ease;
    border: none;
    cursor: pointer;
}

.reaction-button:hover {
    background-color: transparent; 
    text-shadow: 0 0 2px #1e3949; 
}

#reaction-button-1:hover {
    text-shadow: 0 0 2px #6e8beb;
    color: #6e8beb;
}

#reaction-button-2:hover {
    text-shadow: 0 0 2px #ff0000;
    color: #ff0000;
}


.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#caccount {
    background-color: transparent;
}
.prompt-main{
    text-align: center;
    margin-top: 100px;
}

.prompt-header {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.prompt-container {
    display: flex;
    justify-content: center;
}
.prompt-block {
    display: block;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #16333f;
}
